html {
  scroll-behavior: smooth;
  //   user-select: none;
}

body {
  font-family: sans-serif;
}

body main {
  background-color: #b9d1f5;
  color: white;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
