@use "../abstracts/" as *;

@mixin theme($mode) {
  @if ($mode == "light") {
    --root-bg: #ebeeed;
    --light: var(--white);
    --dark: var(--black);
    --clr-primary: hsl(151, 66%, 60%);
    --clr-hover: hsl(151, 66%, 45%);
    --clr-active: hsl(151, 66%, 50%);
    --clr-primary-light: #bbf1d7;
    --clr-secondary: #8aafe7;
    --clr-shadow: #ddd;
    --clr-placeholder: #aaa;
    --bg-dark: #eee;
    --bg-light: #f6faf9;
    --bg-lighter: var(--light);

    --foreground: var(--black);
    --background: var(--white);

    --text-you: var(--white);
    --text-them: var(--black);
  }
  @if ($mode == "dark") {
    --light: var(--black);
    --dark: var(--white);
    --clr-shadow: #000;
    --clr-shadow: #2f4f4f30;
    --clr-primary: hsl(151, 66%, 40%);
    --clr-hover: hsl(151, 66%, 30%);
    --clr-active: hsl(151, 66%, 25%);
    --clr-placeholder: #ccc;
    --clr-primary-light: #0c251a;
    --bg-dark: #181818;
    --bg-light: #151515;
    --bg-lighter: var(--dark);
    --root-bg: var(--bg-dark);

    --foreground: var(--white);
    --background: var(--black);

    --text-them: var(--white);
  }
}

:root {
  --black: #111;
  --white: #fefefe;
  --error: #e57373;
  @include theme("light");
}

@include root-dark {
  @include theme("dark");
}
