@keyframes slide-message-you {
  from {
    transform: translate(50%, 100%);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slide-message {
  from {
    transform: translateX(-65%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes delete-message {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
