/*
$clr-dark: #131517;
$clr-dark-light: #1e1f25;
$clr-dark-lighter: #282932;
$clr-blue-magantaish: #606389;
$clr-blue: #296eff;
$clr-light: #f1f2f3;
*/

@mixin theme($mode) {
  @if ($mode == 'light') {
    --root-bg: #ebeeed;
    --light: var(--white);
    --dark: var(--black);
    --clr-primary: #51db98;
    --clr-primary-light: #bbf1d7;
    --clr-secondary: #8aafe7;
    --clr-shadow: #ddd;
    --clr-placeholder: #aaa;
    --bg-dark: #eee;
    --bg-light: #f6faf9;
    --bg-lighter: var(--light);

    --foreground: var(--black);
    --background: var(--white);

    --text-you: var(--white);
    --text-them: var(--black);
  }
  @if ($mode == 'dark') {
    --light: var(--black);
    --dark: var(--white);
    --clr-shadow: #000;
    --clr-shadow: #2f4f4f30;
    --clr-primary: #269e64;
    --clr-placeholder: #ccc;
    --clr-primary-light: #0c251a;
    --bg-dark: #181818;
    --bg-light: #151515;
    --bg-lighter: var(--dark);
    --root-bg: var(--bg-dark);

    --foreground: var(--white);
    --background: var(--black);

    --text-them: var(--white);
  }
}

:root {
  --black: #111;
  --white: #fefefe;
  --error: #e57373;
  @include theme('light');
}

@include root-dark {
  @include theme('dark');
}
