@keyframes slideInYou {
  from {
    transform: translateX(65%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-65%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
