.menu {
  user-select: none;
  position: relative;
  color: var(--dark);

  .icon {
    cursor: pointer;
    padding: 1rem 1.5rem;
    clip-path: circle();
    margin-inline: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: hsla(0, 0%, 50%, 30%);
    }

    i {
      font-size: 1.5rem;
      line-height: 0;
    }
  }

  #btn {
    position: fixed;
    top: -100vh;
    opacity: 0;
  }

  #btn:focus-within + .list {
    z-index: 100;
    transition-delay: 0s;
    opacity: 1;
  }

  .list {
    width: 18rem;
    z-index: -100;
    position: absolute;
    top: 5rem;
    left: 1rem;
    border-radius: 0.5rem;
    background: var(--dark);
    list-style: none;
    opacity: 0;
    transition-delay: 0.25s;

    &::after {
      content: "";
      position: absolute;
      top: -2rem;
      left: 1rem;
      width: 0;
      height: 0;
      border: 1rem solid transparent;
      border-bottom: 1rem solid var(--dark);
    }

    li:first-of-type {
      border-radius: 0.5rem 0.5rem 0 0;
    }
    
    li:last-of-type {
      border-radius: 0 0 0.5rem 0.5rem;
    }

    li {
      cursor: pointer;
      color: var(--light);
      padding: 0.5rem 1.5rem;
      transition: all 0.3s ease;

      &:hover {
        background: var(--clr-primary);
        color: var(--white);
      }
    }
  }
}
