<section class="chat">
  <div class="chat__parent">
    <div id="chat-container" class="chat__container"></div>
  </div>

  <form action="" id="chat-form" class="chat__form">
    <textarea
      name="msg"
      placeholder="Type something to send..."
      autocomplete="off"
      rows="1"
      required
      onkeydown="if(!event.shiftKey&&!event.ctrlKey&&!event.altKey&&event.keyCode===13){event.preventDefault();this.nextElementSibling.click();this.focus()}"
    ></textarea>
    <button type="submit">${Send}</button>
  </form>
</section>
