<section -root="loginView" class="login">
  <form id="login-form">
    <input type="email" name="email" />
    <input type="password" name="password" />
    <button type="submit">Login</button>
  </form>

  <button id="goto-signup-btn">Go to Signup</button>
</section>

<!-- remove the bullshit above -->

<form>
  <h2 class="tittle" id="title">Login</h2>
  <div id="inputs">
    <!-- giving a class of error to the input fields will make the underlines red -->

    <div class="input-container">
      <input type="email" id="email" required placeholder=" " name="email" />
      <label for="email">Email</label>
    </div>
    <div class="input-container">
      <input type="password" id="password" required placeholder=" " name="password" />
      <label for="password">Password</label>
    </div>
  </div>
  <button type="submit" class="btn" id="submit">Login</button>
</form>
