<form>
  <h2 class="tittle" id="title">Sign Up</h2>
  <div id="inputs">
    <div class="input-container">
      <input
        type="text"
        id="full-name"
        required
        placeholder=" "
        autocomplete="off"
        name="name"
        role="presentation"
        minlength="3"
        maxlength="14"
        pattern="^[a-zA-Z]{1,}(?: [a-zA-Z]+){0,2}$"
      />
      <label for="full-name">Full Name</label>
    </div>
    <div class="input-container">
      <input
        type="email"
        id="email"
        required
        placeholder=" "
        autocomplete="off"
        name="email"
        role="presentation"
      />
      <label for="email">Email</label>
    </div>
    <div class="input-container">
      <input
        type="password"
        id="password"
        required
        placeholder=" "
        autocomplete="new-password"
        name="password"
        role="presentation"
        minlength="6"
        maxlength="24"
      />
      <label for="password">Password</label>
    </div>
  </div>
  <button type="submit" class="btn" id="submit">Sign Up</button>
</form>
