<section -root="welcomeView" class="welcome">
  <div class="welcome__content" view="sign-up">
    <!-- 
      Changing the view [line:2] to `login` should do the following things
      1. remove the form element and inject the login or signup component inside `.form-container`. [line:10]
      2. Change the content of the span with id `#change-it-later` to "Don't" [line:14]. also change the id to a meaningful one
          
      100. I'll deal with the animation once the steps above are complete.
    -->
    <div id="form-container" class="form-container"><!-- Step 1 --></div>

    <div class="text-container">
      <h2>
        <!-- Step 2 -->
        <span class="text-already">Already</span>
        <span class="text-dont">Don't</span>
        have an account?
      </h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis sit laudantium vitae,
        rerum voluptate provident.
      </p>

      <button id="goto-login-btn" class="btn login">Login</button>
      <button id="goto-signup-btn" class="btn signup">Signup</button>
    </div>
  </div>
</section>
