<section -root="welcomeView" class="welcome" view="log-in">
  <div class="welcome__content">
    <div id="form-container" class="form-container"></div>

    <div class="text-container">
      <h2>
        <span class="text-already">Already</span>
        <span class="text-dont">Don't</span>
        have an account?
      </h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis sit laudantium vitae,
        rerum voluptate provident.
      </p>

      <button id="goto-login-btn" class="btn login">Login</button>
      <button id="goto-signup-btn" class="btn signup">Signup</button>
    </div>
  </div>
</section>
