<section -root="welcomeView" class="welcome">
  <div class="welcome__content">
    <div class="form-container">
      <!-- embed the component here with the same format -->
      <form>
        <h2 class="tittle" id="title" aria-details="Change it to `Login`">Sign Up</h2>
        <div>
          <div class="input-container">
            <!-- giving a class of error to the input fields will make the underlines red -->
            <input type="text" id="first-name" required placeholder=" " />
            <label for="first-name">First Name</label>
          </div>
          <div class="input-container">
            <input type="email" id="email" required placeholder=" " />
            <label for="email">Email</label>
          </div>
          <div class="input-container">
            <input type="password" id="password" required placeholder=" " />
            <label for="password">Password</label>
          </div>
        </div>
        <button type="submit" class="btn">Sign Up</button>
      </form>
    </div>
    <div class="text-container">
      <h2>
        <span
          id="change-it-later"
          aria-details="Change it to `Don't` when switched to login view"
          >Already</span
        >
        have an account?
      </h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis sit laudantium
        vitae, rerum voluptate provident.
      </p>
      <button id="goto-login-btn" class="btn login">Login</button>
    </div>
  </div>
  <!-- will deal with you guys later -->
  <button id="goto-signup-btn" class="btn signup hidden">Signup</button>
</section>
