#root[view='chatView'] {
  background-color: var(--root-bg);
}

.chat {
  --padding: 4rem;
  width: min(calc(100% - var(--padding)), 64rem);
  height: calc(100% - var(--padding));
  border-radius: 0.35rem;
  box-shadow: 0 0 3rem var(--clr-shadow);
  overflow: hidden;
  background-color: var(--bg-light);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  transition-property: width, height, border-radius;
  transition-duration: 0.25s;

  @include --($small) {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  header {
    background-color: var(--light);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1.5rem 2.5rem;
    z-index: 1;

    &.loaded {
      scroll-behavior: smooth;
    }

    .message {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1.7rem;
      color: var(--dark);
      animation: slide-message 0.5s forwards;
      span {
        color: var(--clr-secondary);
        font-weight: 700;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
        text-transform: capitalize;
      }

      p {
        max-width: 45rem;
        position: relative;
        color: var(--text-them);
        background: var(--light);
        line-height: 2rem;
        padding: 1.25rem 2rem;
        word-wrap: break-word;
        border-radius: 2rem;
        border-top-left-radius: 0;

        a {
          color: inherit;
        }
      }
    }

    .message[data-user='you'] {
      align-items: flex-end;
      margin-left: auto;
      animation-name: slide-message-you;

      p {
        color: var(--text-you);
        background: var(--clr-primary);
        border-radius: 2rem;
        border-top-right-radius: 0;
        align-self: flex-end;
      }
    }

    .message[data-status='pending'] p {
      background: var(--clr-primary-light);
    }

    .message[data-status='sent'] p {
      transition: 0.3s;
    }
  }

  &__form {
    background-color: var(--light);
    display: flex;
    align-items: center;
    padding: 0.7rem 1.5rem;

    .textarea-container {
      width: 100%;
      background: var(--bg-dark);
      padding: 0.5rem 1.5rem;
      border-radius: 2rem;
      margin: 0 0.7rem;
    }

    textarea {
      display: block;
      width: 100%;
      color: var(--dark);
      background: transparent;
      font-size: 1.6rem;
      line-height: 1.5;
      resize: none;
      outline: none;
      border: none;
    }

    button {
      height: 3.5rem;
      aspect-ratio: 1;
      background: transparent;
      cursor: pointer;
      box-shadow: none;
      border: 0;
      text-align: center;
      transition: all 0.3s ease;
      padding: 0.6rem;
      border-radius: 50%;

      &:hover {
        background: var(--bg-dark);
      }

      svg {
        transform: translateX(1.5px);
      }
    }
  }
}
