.welcome {
  --root-bg: rgb(235 238 237 / 85%);

  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0')
    no-repeat center center/cover;
  display: grid;
  place-items: center;

  &__content {
    --column-gap: 4rem;

    display: flex;
    align-items: center;
    max-width: 68rem;
    background: var(--root-bg);
    padding-inline: var(--column-gap);
    gap: var(--column-gap);

    .text-container {
      max-width: 25rem;
      color: var(--black);
      font-weight: 300;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-block: 8rem;
      align-items: flex-start;

      h2 {
        font-size: 2.4rem;
        font-weight: inherit;
      }
      p {
        font-size: 1.2rem;
        line-height: 1.4rem;
        font-weight: inherit;
        text-align: justify;
      }

      button {
        background: transparent;
        padding: 0.5rem 3rem;
        border: 1px solid var(--black);
        border-radius: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        outline: none;
      }
    }
  }
}
