.welcome {
  min-height: 100vh;
  background: url("../assests/Chat\ bot-rafiki.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  // color: #f1f2f3;
  font-family: "Lato", sans-serif;

  &__content {
    width: 50%;
    min-height: inherit;
  }
}

.btn{
  background: none;
  outline: none;
  border: 3px solid #121416;
  border-radius: 3.5rem;
  padding: 1rem 3rem;
  font-weight: bold;
  letter-spacing: 1px;
}


// Here