<section -root="welcomeView" class="welcome" view="log-in">
  <div class="welcome__content">
    <div id="form-container" class="form-container"></div>

    <div class="text-container">
      <h2>
        <span class="text-already">Already</span>
        <span class="text-dont">Don't</span>
        <span>have an account?</span>
      </h2>
      <p>
        Jani na eikhane ki likhte hoy. Bas jayga fill korar jonne dichi. Poira
        kono laav nai. Porle kebol apnar time waste e hobe.
      </p>

      <button id="goto-login-btn" class="btn login">Login</button>
      <button id="goto-signup-btn" class="btn signup">Signup</button>
    </div>
  </div>
</section>
